.login-reg-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 310px;
  padding: 20px;
  background-color: #ffffff;
}
.title-box {
  height: 60px;
  background: url("../images/login_title.png") no-repeat center;
}
.layui-form-item {
  width: 100%;
}
.reg-box {
  display: none;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.layui-form-item {
  position: relative;
}
.layui-form-item i {
  position: absolute;
  left: 10px;
  top: 10px;
}
.layui-form-item input {
  padding-left: 32px;
}
